@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body{
    background-color: antiquewhite;
}
#quote-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width:100%;
    
}
.quote{
    background-color: green;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    text-overflow:ellipsis;
}
#text{
    color: #fff;
    font-size: 20px;
    font-family: "Lobster Two", cursive;
    height: 100px;
    margin-top: 50px;
}
#author{
    color: #fff;
    font-size: 25px;
    font-family: "Dancing Script", cursive;
}.btn{
    display: block;
    border: 2px solid #ED4B3A;
    padding: 10px 15px;
    color: #ED4B3A;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 1s, color 1s;
    top: 70;
}
.btn:hover{
    background: #ED4B3A;
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0,2), 0 6px 20px 0 rgba(0,0,0,0,19);
}
#tweet-quote{
    font-size: 40px;
}
.mark{
    position: relative;
    right: 150px;
    font-size: 50px;
}
